<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e26533911.js" crossorigin="anonymous"></script> <!--  este link va en html porque los logos se usan en la estructura de html -->


    <title>Domotica Baires</title>


</head>
<body class="body__index">
    <header class="body__header">
        <section class="body__header__navegacion">
            <nav class="body__header__navegacion--menuBurguer">
                <div>
                <a href=""><i class="fa-solid fa-bars"></i></a>
                </div>
            </nav>
        </section class="body__header__navegacion">
        <nav  class="body__header__navegacion--barraDeNavegacion">
            <div>
                <ul>
                    <li><a href="">Inicio</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="">Iluminacion</a></li>
                    <li><a href="">Alarmas y Sensores</a></li>
                    <li><a href="">electronica, audio y video</a></li>
                </ul>
            </div>
            <div><ul>
                <li><a href="">¿Quienes somos?</a></li>
                </ul>
            </div>
                
                
            
        </nav>
       
        <section class="body__header__barraDeBusqueda">
            <form action="">
                <input type="text" placeholder="¿Que estas buscando?"><button> <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </section>
        <section class="body__header__logo">
            <div>
                <img src="/imagenes/logo_1.png" alt="logo">
            </div>
        
           
        </section>
        <section class="body__header__utilidades">
            
            <div class="miCuenta">
                <p> <i class="fa-solid fa-user"></i> <br> Mi cuenta </p>
            </div>
            <div class="miCarrito" >
               <p> <i class="fa-solid fa-cart-shopping"></i> <br> Mi carrito  </p> 
            </div>

        </section>

    </header>
    <main>

    </main>
    <footer>
        
    </footer>
    
</body>
</html>