<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e26533911.js" crossorigin="anonymous"></script> <!--  este link va en html porque los logos se usan en la estructura de html -->


    <title>Domotica Baires</title>


</head>
<body class="body__index">
    <header class="body__header">
        <section class="body__header__navegacion">
            <nav class="body__header__navegacion--menuBurguer">
                <div>
                <a href=""><i class="fa-solid fa-bars"></i></a>
                </div>
            </nav>
        </section class="body__header__navegacion">
        <nav  class="body__header__navegacion--barraDeNavegacion">
            <div>
                <ul>
                    <li><a href="">Inicio</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="">Iluminacion</a></li>
                    <li><a href="">Alarmas y Sensores</a></li>
                    <li><a href="">electronica, audio y video</a></li>
                </ul>
            </div>
            <div><ul>
                <li><a href="">¿Quienes somos?</a></li>
                </ul>
            </div>
                
                
            
        </nav>
       
        <section class="body__header__barraDeBusqueda">
            <form action="">
                <input type="text" placeholder="¿Que estas buscando?"><button class="lupita"> <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </section>
        <section class="body__header__logo">
            <div>
                <img src="/imagenes/logo_1.png" alt="logo">
            </div>
        
           
        </section>
        <section class="body__header__utilidades">
            
            <div class="miCuenta">
             <a href="/InicioDeSesion"><i class="fa-solid fa-user"></i></a> 
             <p>Mi cuenta</p> 
            </div>
            <div class="miCarrito" >
               <a href="/CarritoDeCompras"><i class="fa-solid fa-cart-shopping"></i></a>
               <p>Mi carrito</p>  
            </div>

        </section>

    </header>
    <section class="galeria">
        <article class="imagen_principal">
            <div>
                <img src="imagenes/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" alt="">
            </div>
        </article>
        <article class="lista_de_imagenes">
            <img src="/imagenes/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" alt="">
            <img src="/imagenes/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" alt="">
            <img src="/imagenes/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" alt="">
        </article>
    </section>
    <main class="index_main" index_main>
        <h2>Productos destacados</h2>
        <section class="index_main_section">
            <article class="index_main_section_article">
                <a href="/DetalleDelProducto">
                    <div class="index_main_section_article_div-imagen">
                        <img src="/imagenes/protector-heladera.jpg" alt="ce">
                    </div>
                </a>
                
                <div class="index_main_section_article_div-datos">
                    <h3>$2.359,00</h3>
                    <p>Protector De Tensión Heladeras Freezer Cava Pr3 Stand By</p>
                    <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $786,33</h5>
                </div>
                <div class="index_main_section_article_div-button">
                    <button type="submit" class="comprar">Comprar</button>
                    <button type="menu" class="ver">Ver</button>
                </div>
            </article>

            <article class="index_main_section_article">
                <div class="index_main_section_article_div-imagen">
                    <img src="/imagenes/camara de seguridad.png" alt="ce">
                </div>
                <div class="index_main_section_article_div-datos">
                    <h3>$6.659,00</h3>
                    <p>Cámara Wi-Fi Smart Full HD Etheos</p>
                    <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $2.219,67</h5>
                </div>
                <div class="index_main_section_article_div-button">
                    <button type="submit" class="comprar">Comprar</button>
                    <button type="menu" class="ver">Ver</button>
                </div>
            </article>

            <article class="index_main_section_article">
                <div class="index_main_section_article_div-imagen">
                    <img src="/imagenes/extractor de aire.jpg" alt="extractor de aire">
                </div>
                <div class="index_main_section_article_div-datos">
                    <h3>$14.139,00</h3>
                    <p>Extractor de Aire 64W Cocina Baño Satelital 10 cm / 4"</p>
                    <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $4.713,00</h5>
                </div>
                <div class="index_main_section_article_div-button">
                    <button type="submit" class="comprar">Comprar</button>
                    <button type="menu" class="ver">Ver</button>
                </div>
            </article>

            <article class="index_main_section_article ultimooo" 
         >
                <div class="index_main_section_article_div-imagen">
                    <img src="/imagenes/detector de movimiento.png" alt="detector de movimiento">
                </div>
                <div class="index_main_section_article_div-datos">
                    <h3> $6.019,00</h3>
                    <p>Detector de Movimiento Exterior Sica</p>
                    <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $2.006,33</h5>
                </div>
                <div class="index_main_section_article_div-button">
                    <button type="submit" class="comprar">Comprar</button>
                    <button type="menu" class="ver">Ver</button>
                </div>
            </article>
            
        </section>

        <h2>Oferta de la semana</h2>
        <section class="index_main_section">
            <article class="index_main_section_article">
                <div class="index_main_section_article_div-imagen">
                    <img src="/imagenes/protector-heladera.jpg" alt="ce">
                </div>
                <div class="index_main_section_article_div-datos">
                    <h3>$2.359,00</h3>
                    <p>Protector De Tensión Heladeras Freezer Cava Pr3 Stand By</p>
                    <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $786,33</h5>
                </div>
                <div class="index_main_section_article_div-button">
                    <button type="submit" class="comprar">Comprar</button>
                    <button type="menu" class="ver">Ver</button>
                </div>
            </article>

            <article class="index_main_section_article">
                <div class="index_main_section_article_div-imagen">
                    <img src="/imagenes/camara de seguridad.png" alt="ce">
                </div>
                <div class="index_main_section_article_div-datos">
                    <h3>$6.659,00</h3>
                    <p>Cámara Wi-Fi Smart Full HD Etheos</p>
                    <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $2.219,67</h5>
                </div>
                <div class="index_main_section_article_div-button">
                    <button type="submit" class="comprar">Comprar</button>
                    <button type="menu" class="ver">Ver</button>
                </div>
            </article>

            <article class="index_main_section_article">
                <div class="index_main_section_article_div-imagen">
                    <img src="/imagenes/extractor de aire.jpg" alt="extractor de aire">
                </div>
                <div class="index_main_section_article_div-datos">
                    <h3>$14.139,00</h3>
                    <p>Extractor de Aire 64W Cocina Baño Satelital 10 cm / 4"</p>
                    <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $4.713,00</h5>
                </div>
                <div class="index_main_section_article_div-button">
                    <button type="submit" class="comprar">Comprar</button>
                    <button type="menu" class="ver">Ver</button>
                </div>
            </article>

            <article class="index_main_section_article ultimooo">
                <div class="index_main_section_article_div-imagen">
                    <img src="/imagenes/detector de movimiento.png" alt="detector de movimiento">
                </div>
                <div class="index_main_section_article_div-datos">
                    <h3> $6.019,00</h3>
                    <p>Detector de Movimiento Exterior Sica</p>
                    <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $2.006,33</h5>
                </div>
                <div class="index_main_section_article_div-button">
                    <button type="submit" class="comprar">Comprar</button>
                    <button type="menu" class="ver">Ver</button>
                </div>
            </article>
            
            
          
           
        </section>

        
    </main>
    <footer class="index__footer">
        <article class=footer_principal>
            <section class="footer__seccion" >
                <div>
                    <h3>Categorias</h3>
                </div>
                <div>
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Iluminacion</a></li>
                        <li><a href="">Alarmas y Sensores</a></li>
                        <li> <a href="">Electronica, Audio y Video</a></li>
                        <li><a href="">¿Quienes somos?</a></li>
                    </ul>
                </div>
            </section>
    
            <section class="footer__seccion" >
                <div>
                    <h3>Contacto</h3>
                </div>
                <div>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-whatsapp"></i> 15-1324-5768</a></li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> 4240-9876</a></li>
                        <li><a href=""><i class="fa-solid fa-at"></i> domoticabaires@gmail.com</a></li>
                        <li><a href=""><i class="fa-solid fa-location-pin"></i> San Miguel, Buenos Aires</a></li>
                        
                    </ul>
                </div>
            </section>
            <section class="footer__seccion" >
                <div class="footer__redes" class="ultimooo">
                    <div>
                        <h3>Sigamos Conectados</h3>
                    </div>
                    <div>
                        <ul class="foter__redes--redes">
                            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                
    
            </section>
        </article>

        <article class="descripcion-final">
            <p>Copyrigth Domótica Baires - 2022.
                Todos los derechos reservados
                Defensa de las y los consumidores.Para reclamos
                <strong><a href="">Ingrese aquí.</a></strong> </p>
            <p>Desarrollado por Grupo <strong>2</strong></p>
        </article>
        
    </footer>
    
</body>
</html>