g<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title>Login</title>
</head>
<body>
    <body class="body__index">
        <header class="body__header">
            <section class="body__header__navegacion">
                <nav class="body__header__navegacion--menuBurguer">
                    <div>
                    <a href=""><i class="fa-solid fa-bars"></i></a>
                    </div>
                </nav>
            </section class="body__header__navegacion">
            <nav  class="body__header__navegacion--barraDeNavegacion">
                <div>
                    <ul>
                        <li><a href="">Inicio</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="">Iluminacion</a></li>
                        <li><a href="">Alarmas y Sensores</a></li>
                        <li><a href="">electronica, audio y video</a></li>
                    </ul>
                </div>
                <div><ul>
                    <li><a href="">¿Quienes somos?</a></li>
                    </ul>
                </div>
                    
                    
                
            </nav>
           
            <section class="body__header__barraDeBusqueda">
                <form action="">
                    <input type="text" placeholder="¿Que estas buscando?"><button class="lupita"> <i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </section>
            <section class="body__header__logo">
                <div>
                    <img src="/imagenes/logo_1.png" alt="logo">
                </div>
            
               
            </section>
            <section class="body__header__utilidades">
                
                <div class="miCuenta">
                 <a href="/InicioDeSesion"><i class="fa-solid fa-user"></i></a> 
                 <p>Mi cuenta</p> 
                </div>
                <div class="miCarrito" >
                   <a href="/views/productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                   <p>Mi carrito</p>  
                </div>
    
            </section>
    
        </header>
       
    
        
































<main class="login__form__container">


<section class="login__nav__container">

    <h5><a href="#"></a>Inicio  ></h5>
   
    <h5><a href="#"></a>Mi Cuenta ></h5>
    
    <h5><a href="#"></a>Login</h5>

</section>

<section class="login__form__container">
         
            <h2>Inicia Sesion</h2>
           

    <form class="form__label" action="/InicioDeSesion" method="POST">
       


        
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Ej:juanito@hotmail.com" id="email">
       
        <label for="password">Contraseña:</label>
        <input type="password" name="password" placeholder="Ej:nonono1234" id="password">


        <a href="">¿Olvidaste tu contraseña?</a>



        <button type="submit">Iniciar Sesion</button>





       </form>
       
<section class="login__footer__container">
    <section>
        <h5><a href=""></a>¿No tenes cuenta aún?</h5>
        <h5><a href=""></a>Crear cuenta</h5>
    </section>
   
</section>

</section>

</main>





























































































































        <footer class="index__footer">
            <article class=footer_principal>
                <section class="footer__seccion" >
                    <div>
                        <h3>Categorias</h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href="">Inicio</a></li>
                            <li><a href="">Iluminacion</a></li>
                            <li><a href="">Alarmas y Sensores</a></li>
                            <li> <a href="">Electronica, Audio y Video</a></li>
                            <li><a href="">¿Quienes somos?</a></li>
                        </ul>
                    </div>
                </section>
        
                <section class="footer__seccion" >
                    <div>
                        <h3>Contacto</h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href=""><i class="fa-brands fa-whatsapp"></i> 15-1324-5768</a></li>
                            <li><a href=""><i class="fa-solid fa-phone"></i> 4240-9876</a></li>
                            <li><a href=""><i class="fa-solid fa-at"></i> domoticabaires@gmail.com</a></li>
                            <li><a href=""><i class="fa-solid fa-location-pin"></i> San Miguel, Buenos Aires</a></li>
                            
                        </ul>
                    </div>
                </section>
                <section class="footer__seccion" >
                    <div class="footer__redes">
                        <div>
                            <h3>Sigamos Conectados</h3>
                        </div>
                        <div>
                            <ul class="foter__redes--redes">
                                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
        
                </section>
            </article>
    
            <article class="descripcion-final">
                <p>Copyrigth Domótica Baires - 2022.
                    Todos los derechos reservados
                    Defensa de las y los consumidores.Para reclamos
                    <strong><a href="">Ingrese aquí.</a></strong> </p>
                <p>Desarrollado por Grupo <strong>2</strong></p>
            </article>
            
        </footer>
        
    </body>

</html>