<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />

    <title>Carrito</title>
  </head>
  <body class="body__container">
    <main>
       <div class="header">
        <div>
          <button>x</button>
        </div>
        <div>
          <h1>carrito de compras</h1>
        </div>
      <section class="main__productos">
        <article><img src="" alt="" /></article>
        <article>
          <p>Control Remoto Universal 
            Inteligente Wifi Domotica Smart</p>
          
          
          <button></button>
          <button></button>
          <p></p>
        </article>
      </section>
      <section>
        <article><img src="" alt="" /></article>
        <article>
          <p>Kit Domótica Para Portón Automático Con Sensor De Apertura</p>
          <button ></button>
          <button></button>
          <p></p>
        </article>
      </section>  
    </main>
  </body>
</html>
