<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e26533911.js" crossorigin="anonymous"></script>

    <title>Detalle Del Producto</title>

</head>
<body class="body__detalle">
    <header class="body__header">
        <section class="body__header__navegacion">
            <nav class="body__header__navegacion--menuBurguer">
                <div>
                <a href=""><i class="fa-solid fa-bars"></i></a>
                </div>
            </nav>
        </section class="body__header__navegacion">
        <nav  class="body__header__navegacion--barraDeNavegacion">
            <div>
                <ul>
                    <li><a href="">Inicio</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="">Iluminacion</a></li>
                    <li><a href="">Alarmas y Sensores</a></li>
                    <li><a href="">electronica, audio y video</a></li>
                </ul>
            </div>
            <div><ul>
                <li><a href="">¿Quienes somos?</a></li>
                </ul>
            </div>
            
        </nav>
       
        <section class="body__header__barraDeBusqueda">
            <form action="">
                <input type="text" placeholder="¿Que estas buscando?"><button class="lupita"> <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </section>
        <section class="body__header__logo">
            <div>
                <img src="/imagenes/logo_1.png" alt="logo">
            </div>
        
           
        </section>
        <section class="body__header__utilidades">
            
            <div class="miCuenta">
             <a href="/views/login.html"><i class="fa-solid fa-user"></i></a> 
             <p>Mi cuenta</p> 
            </div>
            <div class="miCarrito" >
               <a href="/views/productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
               <p>Mi carrito</p>  
            </div>

        </section>

    </header>
    <main class="detail__main">
        <section class="detail__main__section general__main__section">
            <article class="detail__main__section__article">
                <img src="/imagenes/Lámpara Smart Rgb inteligente Wifi.png" alt="">
                <div class="detail__main__section--images">
                    <img src="/imagenes/Lámpara Smart2.png" alt="">
                    <img src="/imagenes/Caja Lámpara Smart3.png" alt="">
                    <img src="/imagenes/Lámpara Smart4.png" alt="">
                    <img src="/imagenes/Lámpara Smart5.png" alt="">
                </div>
            </article>
            <div class="detail__main__section--content">
                <div class="detail__main__section--text">
                <h3>  1 / 5> </h3>

                <h4> Inicio> Iluminación> Producto> </h4>
            </div>

                <h2>Lámpara Smart Rgb Inteligente Wifi</h2>

                <h2> $2.369 </h2>

                <p><i class="fa-thin fa-credit-card-front"></i>3 cuotas sin interés de $789,67</p>

                <div class="detail__main__section--unidades">
                    <h2>- 1 +</h2>
                </div>

                <p>   La lampara Smart RGB brinda iluminación inteligente para tu vida diaria. Se adapta a cualquier luminaria para crear el ambiente que desees con 16 millones de colores y luz blanca cálida a fría. Puedes establecer un horario para encender y apagar las luces de acuerdo con las rutinas diarias semanales, controlar con tu teléfono inteligente o tu voz y tener acceso remoto a tus luces incluso cuando no estés. </p>
                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>
        </section>
    </main>
    
</body>
</html>
