<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="body__detalle">

    <%- include('./partials/header') %>
    
    <main class="detalle_main">
        <h4 class="unoo">Inicio> Iluminación> Producto></h4>
        <article class="detalle_main_article">
            <section class="detalle_main_section_imagenPrincipal">
                <div class="detalle_main_section_div-imagen">
                    <img src="/imagenes/Lámpara Smart Rgb inteligente Wifi.png" alt="">
                </div>
            </section>
            <h6 class="main_h6">  1 / 5 >   </h6>
            
            <section class="detalle_main_section_imagenSecundaria">
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/Lámpara Smart2.png" alt="">
                </div>
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/Caja Lámpara Smart3.png" alt="">
                </div>
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/Lámpara Smart4.png" alt="">
                </div>
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/Lámpara Smart5.png" alt="">
                </div>
            </section>
            <h4 class="main_h4">Inicio> Iluminación> Producto></h4>
            <section class="detalle_main_section_caracteristicas">
                <div>
                    <h2>Lámpara Smart Rgb Inteligente Wifi</h2>
                </div>
                <div>
                    <p>$2.369,00 </p>
                </div>
                <div class="detalle_main_section_cuotas">
                    <h5><i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $789,67</h5>
                </div>
                <div class="detalle_main_section_caracteristicas_botones">
                    <div >
                        <form action="">
                            <button class="menos">- </button>
                            <button class="numero"> 1 </button>
                            <button class="mas"> +</button>
                        </form>
                    </div>
                    <div>
                        <button type="submit" class="agregar">Agregar al carrito</button>
                    </div>
                </div>
                <div>
                    <button type="button" class="comprar">Comprar</button>
                </div>
            </section>

        </article>

        <section class="detalle_main_section-caracteristicasGenerales detalle_main_article">
            <h2>Caracteristicas generales</h2>
            <p>La lámpara Smart RGB brinda iluminación inteligente para tu vida diaria. Se adapta a cualquier luminaria
                para crear el ambiente que desees con 16 millones de colores y luz blanca cálida a fría. Puedes
                establecer un horario para encender y apagar las luces de acuerdo con las rutinas diarias semanales,
                controlar con tu teléfono inteligente o tu voz y tener acceso remoto a tus luces incluso cuando no estés
            </p>
            <p>Utiliza la APP “ALIC Smart Life” compatible para sistemas operativos iOS y Android.</p>
            <p>Potencia: 14W</p>
            <p>Casquillo: E27/p>
            <p>Alimentación: 230V 50/60Hz</p>
            <p>Corriente: 125 mA</p>
            <p>Temperatura de Color: 2700-6500K Regulable</p>
            <p>Flujo lumínico: 1400 lm</p>
            <p>Tamaño: 128 x 65 mm</p>
            <p>CRI: >80</p>
            <p>Luz: RGB Regulable</p>
            <p>Haz de Luz: 230º</p>
            <p>Conexión: Bluetooth + WiFi</p>

        </section>

    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>
