<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <main class=>
        <section class="login__form__container">
            <h1>Crear productos</h1>
            <div>
                
            <a href="/products/productEdit"><p>¿Desea editar un producto?</p></a>
            </div>
            <form class="form__label" action="/products/store"  method="POST">
                <label for="nombre">Nombre del producto</label>
                <input type="text" name="nombre" />

               
                <label for="descripcion">Descripción del producto</label>
                <textarea name="descripcion" id="description" ></textarea>

                <label for="categoria">Categoria</label>
                <select class="form_select" name="categoria" id="categoria">
                    <option>Selecciona una opción</option>
                    <option value="teclas inalmábricas">Teclas inalámbricas</option>
                    <option value="Controles remotos">Controles remotos smart</option>
                    <option value="detector">Detectores</option>
                    <option value="sensor">Sensores</option>
                    <option value="Camara">Camaras</option>
                    <option value="cerradura">Cerraduras</option>
                    <option value="modulo">Modulos</option>
                    <option value="controlador">Controladores</option>
                  </select>

                <label for="precio">Precio</label>
                <input type="number" name="precio" />

                <label for="precio">descuento</label>
                <input type="number" name="descuento" />

                <label for="imagen">Suba la imagen del producto</label>
                <input type="file" name="imagen" />
                <button type="submit">Cree su producto</button>
            </form>
        </section>
    </main>

    <!-- Header -->
    <%- include('./partials/footer') %>
  </body>
</html>