<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e26533911.js" crossorigin="anonymous"></script>

    <title>Detalle Del Producto</title>

</head>
<body class="body__detalle">
    <header class="body__header">
        <section class="body__header__navegacion">
            <nav class="body__header__navegacion--menuBurguer">
                <div>
                <a href=""><i class="fa-solid fa-bars"></i></a>
                </div>
            </nav>
        </section class="body__header__navegacion">
        <nav  class="body__header__navegacion--barraDeNavegacion">
            <div>
                <ul>
                    <li><a href="">Inicio</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="">Iluminacion</a></li>
                    <li><a href="">Alarmas y Sensores</a></li>
                    <li><a href="">electronica, audio y video</a></li>
                </ul>
            </div>
            <div><ul>
                <li><a href="">¿Quienes somos?</a></li>
                </ul>
            </div>
            
        </nav>
       
        <section class="body__header__barraDeBusqueda">
            <form action="">
                <input type="text" placeholder="¿Que estas buscando?"><button class="lupita"> <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </section>
        <section class="body__header__logo">
            <div>
                <img src="/imagenes/logo_1.png" alt="logo">
            </div>
        
           
        </section>
        <section class="body__header__utilidades">
            
            <div class="miCuenta">
             <a href="/views/login.html"><i class="fa-solid fa-user"></i></a> 
             <p>Mi cuenta</p> 
            </div>
            <div class="miCarrito" >
               <a href="/views/productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
               <p>Mi carrito</p>  
            </div>

        </section>

    </header>
    <main class="detalle_main">
        <h4 class="unoo">Inicio> Iluminación> Producto></h4>
        <article class="detalle_main_article">
            <section class="detalle_main_section_imagenPrincipal">
                <div class="detalle_main_section_div-imagen">
                    <img src="/imagenes/Lámpara Smart Rgb inteligente Wifi.png" alt="">
                </div>
            </section>
            <h6 class="main_h6">  1 / 5 >   </h6>
            
            <section class="detalle_main_section_imagenSecundaria">
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/Lámpara Smart2.png" alt="">
                </div>
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/Caja Lámpara Smart3.png" alt="">
                </div>
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/Lámpara Smart4.png" alt="">
                </div>
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/Lámpara Smart5.png" alt="">
                </div>
            </section>
            <h4 class="main_h4">Inicio> Iluminación> Producto></h4>
            <section class="detalle_main_section_caracteristicas">
                <div>
                    <h2>Lámpara Smart Rgb Inteligente Wifi</h2>
                </div>
                <div>
                    <p>$2.369,00 </p>
                </div>
                <div class="detalle_main_section_cuotas">
                    <h5><i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de $789,67</h5>
                </div>
                <div class="detalle_main_section_caracteristicas_botones">
                    <div >
                        <form action="">
                            <button class="menos">- </button>
                            <button class="numero"> 1 </button>
                            <button class="mas"> +</button>
                        </form>
                    </div>
                    <div>
                        <button type="submit" class="agregar">Agregar al carrito</button>
                    </div>
                </div>
                <div>
                    <button type="button" class="comprar">Comprar</button>
                </div>
            </section>

        </article>

        <section class="detalle_main_section-caracteristicasGenerales detalle_main_article">
            <h2>Caracteristicas generales</h2>
            <p>La lámpara Smart RGB brinda iluminación inteligente para tu vida diaria. Se adapta a cualquier luminaria
                para crear el ambiente que desees con 16 millones de colores y luz blanca cálida a fría. Puedes
                establecer un horario para encender y apagar las luces de acuerdo con las rutinas diarias semanales,
                controlar con tu teléfono inteligente o tu voz y tener acceso remoto a tus luces incluso cuando no estés
            </p>
            <p>Utiliza la APP “ALIC Smart Life” compatible para sistemas operativos iOS y Android.</p>
            <p>Potencia: 14W</p>
            <p>Casquillo: E27/p>
            <p>Alimentación: 230V 50/60Hz</p>
            <p>Corriente: 125 mA</p>
            <p>Temperatura de Color: 2700-6500K Regulable</p>
            <p>Flujo lumínico: 1400 lm</p>
            <p>Tamaño: 128 x 65 mm</p>
            <p>CRI: >80</p>
            <p>Luz: RGB Regulable</p>
            <p>Haz de Luz: 230º</p>
            <p>Conexión: Bluetooth + WiFi</p>

        </section>

    </main>

    <footer class="index__footer">
        <article class=footer_principal>
            <section class="footer__seccion" >
                <div>
                    <h3>Categorias</h3>
                </div>
                <div>
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Iluminacion</a></li>
                        <li><a href="">Alarmas y Sensores</a></li>
                        <li> <a href="">Electronica, Audio y Video</a></li>
                        <li><a href="">¿Quienes somos?</a></li>
                    </ul>
                </div>
            </section>
    
            <section class="footer__seccion" >
                <div>
                    <h3>Contacto</h3>
                </div>
                <div>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-whatsapp"></i> 15-1324-5768</a></li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> 4240-9876</a></li>
                        <li><a href=""><i class="fa-solid fa-at"></i> domoticabaires@gmail.com</a></li>
                        <li><a href=""><i class="fa-solid fa-location-pin"></i> San Miguel, Buenos Aires</a></li>
                        
                    </ul>
                </div>
            </section>
            <section class="footer__seccion" >
                <div class="footer__redes" class="ultimooo">
                    <div>
                        <h3>Sigamos Conectados</h3>
                    </div>
                    <div>
                        <ul class="foter__redes--redes">
                            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                
    
            </section>
        </article>

        <article class="descripcion-final">
            <p>Copyrigth Domótica Baires - 2022.
                Todos los derechos reservados
                Defensa de las y los consumidores.Para reclamos
                <strong><a href="">Ingrese aquí.</a></strong> </p>
            <p>Desarrollado por Grupo <strong>2</strong></p>
        </article>
        
    </footer>
    
</body>
</html>
