<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <!-- Header -->
    <%- include('./partials/header') %>

    <main class="main__container">
        <section class="container__avatar">


            
        </section>

        <section class="container__info__profile">

        </section>
    </main>





    <!-- Header -->
    <%- include('./partials/footer') %>
  </body>
</html>
