
/* Carrucell */
.galeria{
    padding: 0px;
    background-color: var(--color-celeste-claro);
    border-bottom: 0px;
}
.imagen_principal img{
    width: 100%;
    object-fit: cover;
    margin: 0;
   

}
.lista_de_imagenes img{
    width: 97%;
    object-fit: cover;
    margin: 3px 0px;
    border-radius: 10px;
    border: solid rgba(0,0,0,0.5) 5px;
    padding: 5px;
    margin: 2px;

   
}
.lista_de_imagenes{
    display: none; 
       overflow-y: auto;
    
}

@media (min-width:768px) {
    .imagen_principal img{
        width: 100%;
        object-fit: cover;
    display: none;}    
    .lista_de_imagenes img{
        height: 300px;
    }
    .lista_de_imagenes{
        display: flex;}
}
@media (min-width:1024px) {
    .lista_de_imagenes img{
        height: 400px;
    }
}


