
.body__header{
    background-color: var(--color-azul) ;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    gap: 20px 10px;
    border-bottom: 1px solid gray;
    
   
}
.body__header p,li,a {
    color: rgba(255, 255, 255,0.8);

}
.body__header__navegacion{

}
.body__header__navegacion a{
        text-decoration: none;
        color: white;
    }

.body__header__navegacion--menuBurguer{
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 5px;

}

.body__header__navegacion--barraDeNavegacion{
    display: none;

}
.body__header__barraDeBusqueda{
    order: 1;
}
.body__header__barraDeBusqueda form{
    margin: auto 60px;
}
.body__header__barraDeBusqueda form input{
   border: solid rgba(255, 255, 255, 0.5) 1px;
    border-radius: 7px ;
}
.lupita{
    
}
.body__header__logo{

}
.body__header__logo img{ 
width: 50px;
}
.body__header__utilidades{
    display: flex;
    justify-content: center;

}
.body__header__utilidades i{
    color: white;
    font-size: 25px;
    justify-content: center;
    
}
.body__header__utilidades p{
    text-align: center;
}

.body__header__utilidades .miCuenta{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* MAIN */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 15px;
    background-color: aqua;
}
h4{
    margin: 10px 16px;
    color: rgba(128, 128, 128, 0.9);
}
.unoo{
    display: none;
}
h6{
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
.detalle_main{

}
.detalle_main_article{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
}


.detalle_main_article{
    width: 95%;
    padding: 10px;
}
.detalle_main_section_imagenPrincipal{
    width: 100%;
    margin: auto;
   
}
.detalle_main_section_imagenPrincipal img{
    width: 100%;
}
.detalle_main_section_imagenSecundaria{
    width: 30%;

    display: none;

}

.detalle_main_section_caracteristicas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    border: 2px gray solid;
    margin: auto;
    gap: 20px;

}
.detalle_main_section_caracteristicas-formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 45%;

}
.detalle_main_section_caracteristicas form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detalle_main_section_caracteristicas_botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.detalle_main_section_caracteristicas_botones div{
    width: 47% ;
}
.detalle_main_section_caracteristicas form {
    background-color: #2f8f9d;
    color: white;
    width: 100%;
    border: none;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;

}
.detalle_main_section_caracteristicas button{
    background-color: #2f8f9d;
    color: white;
    width: 100%;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;

}
.detalle_main_section_caracteristicas .agregar{
    font-size: 12px;
}
.detalle_main_section_caracteristicas .comprar{
    font-size: 18px;
    transition: all 2s;
}
.detalle_main_section_caracteristicas .comprar:hover{
   border: solid 1px black;
}
    
.detalle_main_section-imagenSecundaria{
    display: none;
    width: 90%;
}

.detalle_main_section-caracteristicasGenerales{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;

}
.detalle_main_section-caracteristicasGenerales h2{
    text-align: center;
    margin: 10px;
}

.detalle_main_section-caracteristicasGenerales p{
    width: 90%;
  
    padding: 5px;


}
@media (min-width: 768px){
    .body__header{
        padding: 20px 5px;
    justify-content:row;
    
        gap: 20px;
        margin:0;
        
}
.body__header__navegacion--menuBurguer{
    display: none;
}
.body__header__navegacion--barraDeNavegacion{
    order: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    gap: 10px;
    margin: auto;
    border-top: solid 1px rgba(236, 228, 228, 0.5);
}
.lupita{width: 22px;
    height: 22px;
    border-radius: 5px;}
.body__header__navegacion--barraDeNavegacion div{
   
    margin:10px;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.body__header__navegacion--barraDeNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:15px
}
.body__header__navegacion--barraDeNavegacion li{
    display: block;
    padding: 5px;
}
.body__header__navegacion--barraDeNavegacion li a{
    text-decoration: none;}

    .body__header__barraDeBusqueda{
        order: 0;
        margin: auto;
    }
    .body__header__barraDeBusqueda form input{
        width: 210px;
        height: 25px;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        border-radius: 8px ;

}
    .body__header__logo{
        order:-1 ;
        margin: auto;
    }
    .body__header__utilidades{
        
        order: 1;
        margin: auto;
    }
    .body__header__utilidades i{
        font-size: 30px;
    }
      
    .body__header__utilidades .miCuenta{
        display:flex;
    }
    .body__header__utilidades .miCarrito{
        display: none;
    }
    .body__header__logo img{ 
        width: 60px;
        }
    
    h2 {
        font-size: 30px;
        padding: 10px;
        margin: 10px;
    }
    .detalle_main_section_imagenPrincipal img{
        border: 1px rgba(0, 0, 0, 0.185) solid;
    }
    .detalle_main_section_imagenSecundaria{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 15px 0px;
   
    }
    .detalle_main_section_imagenSecundaria_div{
        width: 22%;
        height: 131px;
        padding: 1px;
    
        }
    .detalle_main_section_imagenSecundaria_div img{
        width: 100%;
        border: 1px rgba(0, 0, 0, 0.185) solid;
        height: 131px;
            
        }
        .detalle_main_section_caracteristicas{
            height: 450px;
            gap: 30px;
            
        }
        .detalle_main_section_caracteristicas div{
         
        }
        .detalle_main_section_caracteristicas h2{
            font-size: 34px;
            padding: 20px 10px;

        }
        .detalle_main_section_caracteristicas p{
            font-size: 26px;
            padding: 10px;
            

        }
        
        .detalle_main_section_caracteristicas h5{
            font-size: 20px;
            padding: 10;

        }
        .detalle_main_section_caracteristicas_botones div{
            width: 40%;
            height: 40px;
        }
        .detalle_main_section_caracteristicas .comprar{
        width: 80%;
        margin: 10px 9%;
    }
    .detalle_main_section_caracteristicas form{
        height: 41px;
    }
    .detalle_main_section_caracteristicas button{
        height: 40px;
    } 
    .detalle_main_section-caracteristicasGenerales{
        width: 80%;
    }
    .detalle_main_section-caracteristicasGenerales p{
        font-size: 18px;
    }
}
@media (min-width: 1024px){
    .body__header__logo{
        margin: auto 40px;
    }
    .body__header__utilidades{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto 40px;
        gap: 15px;
    }
    .lupita{width: 25px;
        height: 25px;
        border-radius: 5px;}

    .body__header__utilidades .miCuenta{
        display: flex;
    }
    .body__header__utilidades .miCarrito{
        display: flex;
    }
    .body__header__barraDeBusqueda form input{
        width: 260px;
        height: 30px;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        border-radius: 9px ;
    }
.body__header__logo img{ 
    width: 65px;
    }

    .unoo{display:block;
    padding: 15px;
font-size: 18px;}
    .doos{display: none;}
    .tres{display: none;}
    .detalle_main_article{
        width: 98%;
        flex-direction:row;
        justify-content: space-around;
        align-items: flex-start;
        margin: 20px;
        padding: 10px;
    }
    .detalle_main_article section{
        height: 680px;
        gap: 10px;
    }

    .detalle_main_section_imagenPrincipal{
        margin: 0px;
        width: 50%;
        height: 100%;
        order: 2;
    }
    .detalle_main_section_imagenPrincipal div{
        width: 100%;
        margin-top: 10px;
      
        }
    .detalle_main_section_div-imagen img{
        width: 100%;
        margin: 0px;
        border: none;
    }
    .detalle_main_section_imagenSecundaria{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;
        gap: 10px;
        margin: 0px;
        order: 1;
    }
    .detalle_main_section_imagenSecundaria_div{
        width:100%;

    margin: 0px;}
    .detalle_main_section_imagenSecundaria img{
        width: 100%;
        height: 160px;
      
    }
    .detalle_main_section_caracteristicas{
        justify-content: space-around;
        order: 3;
    margin: 0px;
    padding: 10px;
width: 28%;}
.detalle_main_section-caracteristicasGenerales p{
    font-size: 22px;
}
.detalle_main_section-caracteristicasGenerales h5{
    font-size: 18px;
}
.detalle_main_section_caracteristicas form{
    height: 41px;
   
}
.detalle_main_section_caracteristicas button{
    height: 40px;
    font-size: 20px;
} 

.detalle_main_section_caracteristicas .agregar{
    font-size: 15px;
}
.detalle_main_section_caracteristicas .comprar{
    font-size: 22px;
}
}