.index__footer{
    background-color: var(--color-azul);
    font-display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.index__footer2{
    background-color: #7D3C98 ;
    font-display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__seccion{

}
.footer__seccion div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}
.footer__seccion ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__seccion li{
    text-decoration:none;
    list-style: none;    flex-direction: column;
    flex-wrap: wrap;
}
.footer__seccion a{
    text-decoration: none;
}
.footer__seccion h3{
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    align-items: flex-start;
}
.foter__redes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.footer__seccion li{

padding:5px;
text-decoration: none;

}
.footer__redes ul{
    width: 55%;
    height:50px;
    margin-top: 10px 5px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.descripcion-final p{
    font-size: 0.8rem;
    
    margin: 10px;
    padding: 10px 5px 20px;
}
@media(min-width:768px){
    .footer_principal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
        justify-content:space-around;
        border-bottom:solid 1px rgba(236, 228, 228, 0.5);;

    }
}

.footer__seccion {
 justify-content: space-around;
margin: 10px;   
}

@media(min-width:1024px){
    .descripcion-final{
        display: flex;
        justify-content: space-between;
    }  
    .grupo-2{
        list-style: none;
        text-decoration: none;
    }
}
