

.body__header{
    background-color: var(--color-azul) ;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    gap: 20px 10px;
    border-bottom: 1px solid gray;
    
   
}
.body__header2{
    background-color:#7D3C98  ;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    gap: 20px 10px;
    border-bottom: 1px solid gray;
}
.body__header p,li,a {
    color: rgba(255, 255, 255,0.8);

}
.body__header__navegacion{

}
.body__header__navegacion a{
        text-decoration: none;
        color: white;
    }

.body__header__navegacion--menuBurguer{
    font-size: 30px;
    text-align: center;
    color: transparent;
    padding: 5px;
    width: 40%;

}
.menuH{
    color: black;
    width: 35px;
    height: 35px;
    font-size: 30px;
    background-color: transparent;
    border: none;
}


.body__header__navegacion--barraDeNavegacion{
    display: none;


}
.body__header__barraDeBusqueda{
    order: 1;
}
.body__header__barraDeBusqueda form{
    margin: auto 60px;
    position: relative;
    
}
.body__header__barraDeBusqueda form input{
   border: solid rgba(255, 255, 255, 0.5) 1px;
    border-radius: 7px ;
    position: relative;
}
.lupita{
    background-color: transparent;
    border: none;
    position: absolute;
right: 8px;
top: 2px;
    
}
.body__header__logo{

}
.body__header__logo img{ 
width: 50px;
}
.body__header__utilidades{
    display: flex;
    justify-content: center;

}
.body__header__utilidades i{
    color: white;
    font-size: 25px;
    justify-content: center;
    margin: 5px;
    
}
.body__header__utilidades img{
    width: 35px;
    height: 35px;
    justify-content: center;
    border-radius: 10px;
    
}
.body__header__utilidades p{
    text-align: center;
    font-size: 12px;
}


.body__header__utilidades .miCuenta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body__header__utilidades .miCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icono_salir{
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media(min-width:768px){

    .body__header{
        padding: 20px 5px;
    justify-content:row;
    
        gap: 20px;
        margin:0;
        
}
.body__header__navegacion--menuBurguer{
    display: none;
}
.body__header__navegacion--barraDeNavegacion{
    order: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    gap: 10px;
    margin: auto;
    border-top: solid 1px rgba(236, 228, 228, 0.5);
}
.lupita{width: 22px;
    height: 22px;
    border-radius: 5px;}
.lupita:hover{
        cursor: pointer;
    } 
.body__header__navegacion--barraDeNavegacion div{
   
    margin:10px;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.body__header__navegacion--barraDeNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:15px
}
.body__header__navegacion--barraDeNavegacion li{
    display: block;
}
.body__header__navegacion--barraDeNavegacion li a{
    text-decoration: none;
font-size: 16px;}

    .body__header__barraDeBusqueda{
        order: 0;
        margin: auto;
    }
    .body__header__barraDeBusqueda form input{
        width: 210px;
        height: 25px;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        border-radius: 8px ;
        padding: 1px 5px 1px 15px;

}
    .body__header__logo{
        order:-1 ;
        margin: auto;
    }
    .body__header__utilidades{
        
        order: 1;
        margin: auto;
    }
    .body__header__utilidades i,img{
        font-size: 30px;
        width: 30px;
        height: auto;
    }
    .body__header__utilidades p{
        text-align: center;
        font-size: 14px;
    }
      
    .body__header__utilidades .miCuenta{
        display:flex;
    }
    .body__header__utilidades .miCarrito{
        display: none;
    }
    .body__header__logo img{ 
        width: 60px;
        }
    .aa1{
        
    }
    .aa2{
        
    }
    .aa3{
        width: 150px;
    }
    .icono_salir{
        display: flex;
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

}

@media(min-width:1024px){
    .body__header__logo{
        margin: auto 40px;
    }
    .body__header__utilidades{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto 40px;
        gap: 15px;
    }
    .lupita{width: 25px;
        height: 25px;
        border-radius: 5px;}

    .body__header__utilidades .miCuenta{
        display: flex;
    }
    .body__header__utilidades .miCarrito{
        display: flex;
    }
    .body__header__barraDeBusqueda form input{
        width: 260px;
        height: 30px;
        border: solid rgba(255, 255, 255, 0.5) 1px;
        border-radius: 9px ;

}
.body__header__logo img{ 
    width: 65px;
    }
    .aa1{
        width: 200px;
    }
    .aa2{
        
    }
    .aa3{
        width: 200px;
    }
}
