.login__form__container {
  width: 90%;
  font-family: var(--font-general);
}

.login__nav__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0;
  gap: 10px;
  font-weight: 900;
}

.login__nav__container a {
  font-size: var(--font-size-precios);
  color: var(--color-negro);
}

.login__form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.form__label {
  display: flex;
  justify-content: center;
  font-size: 12px;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  width: 90%;
  gap: 18px;
  
}


  .form__label label{
    margin-bottom:-16px;
    font-weight: 900;
    font-size: 1rem;
    }
    








.login__form__container h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 900;
  justify-self: flex-start;
  
}

.login__form__container p {
 color:#f6070a;
  
}

.form__label input {
  max-width: 600px;
  width: 100%;
  padding: 8px;
  border: 1px double var(--color-azul-claro);
  border-radius: 20px;
  border-color:var(--color-azul-claro);
  outline: 0 none;
  box-shadow: 1px 1px 1px 1px var(--color-azul-claro);

}
 

.input-valid {
  max-width: 600px;
  width: 100%;
  padding: 8px;
  border: 1px double var(--color-azul-claro);
  border-radius: 20px;
  border-color:var(--color-azul-claro);
  outline: 0 none;
  box-shadow: 1px 1px 1px 1px var(--color-azul-claro);
}

.input-invalid {
  max-width: 600px;
  width: 100%;
  padding: 8px;
  border: 1px double var(--color-rojo);
  border-radius: 20px;
  border-color:var(--color-rojo);
  outline: 0 none;
  box-shadow: 1px 1px 1px 1px var(--color-rojo);
}

.form__label_input_checkbox {
  max-width: 600px; 
  width: 100%;
  padding: 8px;
  border: 1px double var(--color-azul-claro);
  border-radius: 20px;
  border-color:var(--color-azul);
  outline: 0 none;
  box-shadow: 1px 1px 1px 1px var(--color-blanco) !important;
  

}

.form__label textarea {
  max-width: 600px;
  width: 100%;
  padding: 8px;
  border: 1px double var(--color-azul-claro);
  border-radius: 20px;
  border-color:var(--color-azul);
  outline: 0 none;
  box-shadow: 1px 1px 1px 1px var(--color-azul);

}

.form_label select{
  max-width: 600px;
  width: 100%;
  padding: 8px;
  border: 1px double var(--color-azul-claro);
  border-radius: 20px;
  border-color:var(--color-azul);
  outline: 0 none;
  box-shadow: 1px 1px 1px 1px var(--color-azul);
}

.form__label a {
  
  font-size:12px;
  color: var(--color-negro);

}

.form__label__span-error {
  
  
  color: var(--color-rojo);

}

.form__label button {
  max-width: 250px;
  background-color: var(--color-azul-claro);
  width: 75%;
  padding: 10px;
  border: 0;
  border-radius: 30px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: var( --color-blanco);
  margin-bottom: 15px;
}


.login__footer__container{

display:flex;
width: 100%;
justify-content: center;
flex-wrap: wrap;
}

.login__footer__container h5{

  color:var(--color-negro);
  margin-bottom: 15px;
  }
  
.input-file{
  position: relative;
  display: inline-block;
  box-shadow: var(--color-blanco)!important;
  border: 1px double var(--color-blanco)!important;
}

.input-file::before{
  background-color: var(--color-azul-claro);
  color:var(--color-blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.input-file input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#avatar::before {
  content: 'Suba su imagen de avatar';
}
#imagenes::before {
  content: 'Suba las imagenes de su producto';
}


@media (min-width: 767px){


 
  .form__label label{
    margin-bottom:-16px;
    font-weight: 900;
    font-size: 1rem;
    }
    



}