<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header') %>
    <main class="grupo_main">
        <h2 class="grupo_main_titulo">Integrantes del Grupo:</h2>

    <section class="grupo_main_section">
        <article class="grupo_main_article">
            <div class="grupo_main_section_div-img">
                <img src="/imagenes/grupo/Julieta perfil.jpeg" alt="">
            </div>
            <div class="grupo_main_section_div-datos">
                <h2>Julieta Noelia Schegtel</h2>
                <h3>31 Años</h3>
                <h3>San Miguel</h3>
            </div>
        </article>
        
        <article class="grupo_main_article">
            <div class="grupo_main_section_div-img">
                <img src="/imagenes/grupo/Angelperfil.jpeg" alt="">
            </div>
            <div class="grupo_main_section_div-datos">
                <h2>Angel Salvador Romero</h2>
                <h3>27 años</h3>
                <h3>Longchamps</h3>
            </div>
        </article>
        <article class="grupo_main_article">
            <div class="grupo_main_section_div-img">
                <img src="/imagenes/grupo/perfil latan.jpg" alt="">
            </div>
            <div class="grupo_main_section_div-datos">
                <h2>Juan José Alarcon</h2>
                <h3>28 años</h3>
                <h3>Lanus</h3>
            </div>
        </article>
        <article class="grupo_main_article">
            <div class="grupo_main_section_div-img">
                <img src="/imagenes/grupo/maxi.jpg" alt="">
            </div>
            <div class="grupo_main_section_div-datos">
                <h2>Maximiliano Orellana</h2>
                <h3>31 años</h3>
                <h3>Lanus</h3>
            </div>
        </article>
    </section>
 
            
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
    
</body>
</html>