<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body class="profile__body">
    <!-- Header -->
    <%- include('./partials/header') %>

      <main class="main__container">
        <section class="sectorA">
          <article class="container__avatar">
            <div>
              <img src="/imagenes/imageUsers/userDefault.png " alt="">
            </div>
            <figure>
             <h5>Selecicona una imagen:</h5>
             <br>
              <input type="file">
            </figure>
          </article>
  
          <form class="container_info_profile">
            <div>
              <label for="">Nombre:</label>
              <input type="text" />
            </div>
            <div>
              <label for="">Apellido:</label>
              <input type="text" />
            </div>
            <div>
              <label for="">Email:</label>
              <input type="email" name="" id="" />
            </div>
            <div>
              <label for="">Telefono:</label>
              <input type="number" name="" id="">
            </div>
            <div>
              <button type="submit" class="botooon"><h4>Aceptar Cambios</h4></button>

            </div>
          </form>
        </section>
        


        <section class="container_info_profile2 rrr">
          <div><h3>Mis productos:</h3></div>
          <div>
            <p>Producto1 : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore, illo minus tempora nihil ea voluptatum quos quibusdam vel, voluptates a minima necessitatibus aliquam itaque ab vitae laboriosam doloribus! Praesentium!</p>
          </div> 
          <div>
            <p>Producto1 : Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque provident qui magnam fuga numquam obcaecati modi tempore velit, sapiente, alias molestias vel autem possimus et animi veniam. Inventore, amet cum.</p>
          </div> 
        
        </section>
      </main>





      <!-- Header -->
      <%- include('./partials/footer') %>
  </body>

</html>