<header class=<%=locals.userLogin && userLogin.rol==="admin" ? "body__header2" : "body__header" %> >
    <section class="body__header__navegacion">
        <nav class="body__header__navegacion--menuBurguer">
           
            
                <nav class="nadvarH">
                    <div class="">
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <!--   <li><a href="/products/edit">Editar</a></li> -->
                            <% if (locals.userLogin&&(locals.userLogin.rol==="admin" )) { %>
                                <li><a href="/products/productAdd">Crear</a></li>
                                <% } %>
            
                
                  
                        
                
                            <li><a href="/iluminacion">Iluminacion</a></li>
                            <li><a href="/alarmas">Alarmas y Sensores</a></li>
                            <li><a href="/electronica">electronica, audio y video</a></li>
                        
                  
                            <li><a href="/products">Lista de productos</a></li>
                <!--                 <li><a href="">¿Quienes somos?</a></li>
                -->            </ul>
                    </div>
                    <section class="utilidades-h">
                        <% if (locals.userLogin) { %>
                                   
                            <div class="icono-h">
                                <a href="/users/profile"><img src="/imagenes/imageUsers/<%= locals.userLogin.avatar %> " alt=""></a>
                                
                                <a href="/users/profile"><p>Mi cuenta</p></a>
                                
                            </div>
                            <div class="icono-h">
                                <a href="/users/logout">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                                <a href="/users/logout">
                                    <p>Salir</p>
                                </a>
                              
                
                            </div>
                
                            <% }else{ %>
                                <div class="icono-h">
                                    
                                    <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                                    <a href="/users/login"><p> Mi cuenta</p></a>
                                    
                                </div>
                                <% } %>
                    </section>
                    <div >
                        <button class="bbbt" id="salirH"><i class="fa-solid fa-square-xmark"></i></button>
                    </div>
            
                    
            
                </nav>
            
              <button class="menuH"> <i class="fa-solid fa-bars"></i></button> 
            </div>
        </nav>
    </section class="body__header__navegacion">
    <nav class="body__header__navegacion--barraDeNavegacion">
        <div class="aa1">
            <ul>
                <li><a href="/">Inicio</a></li>
                <!--   <li><a href="/products/edit">Editar</a></li> -->
                <% if (locals.userLogin&&(locals.userLogin.rol==="admin" )) { %>
                    <li><a href="/products/productAdd">Crear</a></li>
                    <% } %>

            </ul>
        </div>

        <div class="aa2">
            <ul>
                <li><a href="">Iluminacion</a></li>
                <li><a href="">Alarmas y Sensores</a></li>
                <li><a href="">Electronica, Audio y Video</a></li>
            </ul>
        </div>
        <div class="aa3">
            <ul>
                <li><a href="/products">Lista de Productos</a></li>
<!--                 <li><a href="">¿Quienes somos?</a></li>
 -->            </ul>
        </div>



    </nav>



    <!-- search -->
    <section class="body__header__barraDeBusqueda">
        <form action="/search" method="GET">
            <input type="text" name="busqueda" placeholder="¿Que estas buscando?">
            <button class="lupita"> <i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </section>
    <!-- logo -->
    <section class="body__header__logo">
        <div>
            <a href="/"><img src="/imagenes/logo_1.png" alt="logo"></a>
        </div>


    </section>
    <section class="body__header__utilidades">



        <% if (locals.userLogin) { %>
            <div class="miCuenta-img">
                <a href="/users/profile"><img src="/imagenes/imageUsers/<%= locals.userLogin.avatar %> " alt=""></a>
                <p>Mi cuenta</p>
            </div>


            <div class="miCarrito">
                <a href="/productCart/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <p>Mi carrito</p>
            </div>
            <div class="icono_salir">
                <a href="/users/logout">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p>Salir</p>

            </div>

            <% }else{ %>
                <div class="miCuenta">
                    <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                    <p>Mi cuenta</p>
                </div>
                <% } %>

    </section>
<script src="/javascript/header.js"></script>
</header>