*{margin: 0px;}
.galeria{
    padding: 10px;

}
.imagen_principal img{
    width: 100%;
    object-fit: cover;
   

}
.lista_de_imagenes img{
    width: 100%;
    object-fit: cover;
   
}
.lista_de_imagenes{
    display: flex;
    overflow-y: auto;
}
